---
import Styles from './styles.module.scss';
---
<nav class={Styles.nav}>
    <a class={Styles.logolink} href="/">
        <div class={Styles.monogram}>JK</div>
    </a>
    <a class={Styles.link} href="/history-koelle-piano">
        History
    </a>
    <a class={Styles.link} href="/about">
        About
    </a>
</nav>
